@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3F3F46;
  font-family: 'Open Sans';
  font-weight: 700;
}

p {
  color: #3F3F46;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2.2em !important;
}

body {
  font-family: 'Open Sans';
}

/* Navbar */
#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar {
  background-image: linear-gradient(to right, #AD58B2, #C188C9);
}

.navbar-brand span {
  font-family: 'Montserrat';
  font-weight: 500;
  color: #fff;
}

.navbar-nav li a {
  color: #fff !important;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-title {
  font-weight: 500;
  background: -webkit-linear-gradient(90deg, rgba(233,12,102,1) 12%, rgba(3,182,233,1) 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breadcrumb-header {
  background-color: #F0F0F0 !important;
  padding-top: 10px;
  height: 40px;
  font-size: 14px;
}

.breadcrumb li a{
  text-decoration: none;
  color: #FA8B9C;
}

.breadcrumb li a:hover {
  text-decoration: underline;
  color: #FA8B9C;
}

.accordion-button {
  font-family: 'Open Sans';
  font-weight: 700;
  text-decoration: none;
  color: #3F3F46;
}

.list-course-child {
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration: none;
  color: #3F3F46;
}

.list-course-child:hover {
  text-decoration: underline;
  color: #3F3F46;
}

.course-active {
  font-weight: 700;
}

.course ol li, ul li {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2.2em !important;
}

.card .info {
  background-color: #AE59B3;
  color: #fff !important;
}

.card .info p {
  color: #f5f5f5 !important;
}

span.src-text {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 10px;
}

.input-course {
  display: inline !important;
  width: 100px;
  text-align: center;
}

#next, #back {
  font-size: 1em;
  padding: 0.5em 0.7em;
  border-radius: 2px;
}

.responsive {
  display: none;
}

/* Footer */
#footer {
  padding: 10px 0;
  background-image: linear-gradient(to right, #AD58B2, #C188C9);
}

#footer p {
  color: #f5f5f5 !important;
}

@media only screen and (max-width: 991px) {
  .list-course {
    display: none;
  }

  .breadcrumb-header {
    display: none;
  }

  .web {
    display: none;
  }

  .responsive {
    display: block;
  }
}